<launch>
    <node name="dynamixel_control_node" pkg="dynamixel_control" type="dynamixel_control_node.py" output="screen">
      <param name="dynamixel_baudrate" value="2000000"/>
      <param name="dynamixel_device" value="/dev/ttyUSB0"/>
      <param name="dynamixel_protocol" value="2.0"/>
    </node>

    <node name="inverse_kinematics_node" pkg="inverse_kinematics" type="inverse_kinematics_node.py" output="screen"/>
</launch>
